.authPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 60px 150px;
}

.authPageBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authPageEnter {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  row-gap: 20px;
}

.authPageEnterTitle {
  font-size: 28px;
  font-weight: 700;
}

.dataInput {
  height: 35px;
  width: 450px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border);
  padding-inline: 10px;
}

.authPageForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  row-gap: 20px;
}

.authPageFormData {
  display: flex;
  flex-direction: column;
}

.authPageFormData label {
  font-weight: 500;
  padding-inline: 10px;
}

.authPageEnterOption {
  color: var(--color-violet);
}

.authPageButtons {
  display: flex;
  column-gap: 50px;
}

.rememberCheckbox {
  display: flex;
  column-gap: 15px;
  color: var(--color-gray);
}

.authPageImage {
  position: relative;
}

.authPageImage:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100px;
  aspect-ratio: 1;
  background: url("./icons/cell-icon.svg") center/cover no-repeat;
}
