.personalAccountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalAccountBody {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 900px;
}

.personalAccountList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 900px;
}

.personalAccountItem {
  width: 900px;
  padding: 7px;
  border: 2px solid var(--color-violet);
  border-radius: var(--border);
}
