.flexContainer{
    display: flex;
    flex-direction: row;
    width: 98vw;
}

.accordion{
    flex: 0 0 300px;
    margin-right: 10px;
}
.accordion-fixSize{
    display: flex;
    justify-content: center;
    width: 100%;
}
.bar-fixSize{
    width: 75vw;
}
